body {
    height: 100vh;
}

.person_bg {
    width: 50%;
}

.resume,
.contact {
    background-color: transparent;
}

.user_services .row , #contact .row{
    width: 85vw;
    margin: auto;
    justify-content: center;
}

@media screen and (min-width : 1000px)  {
    .user_projects #front-end_projects  > div{
        width: 25%;
    }
}